
/*公共样式  START*/
body {
    margin: 0;
    padding: 0;
	background-color: #000;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
}

em, i {
    font-style: normal;
}

dt, dd, ol, ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
    overflow: hidden;
}
.container .clearfix a {
    width: 50%;
    float: left;
}


/*common*/

header {
    width: 100%;
    max-width: 750px;
    height: 42px;
    margin: 0 auto;
}

header .head {
    width: 100%;
    max-width: 750px;
    height: 42px;
    background: #f8f8f8;
    text-align: center;
    font: normal 16px "微软雅黑";
    color: #eb1212;
    line-height: 42px;
    position: fixed;
    top: 0;
    z-index: 10;
}

header .head a {
    width: 38px;
    height: 38px;
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    background: url(../images/btnBack.png) no-repeat 0 0;
    background-size: 38px 38px;
}

header .head a.share {
    background: url("../images/shareIco.png") no-repeat center center;
    background-size: 23px 18px;
    left: auto;
    right: 5px;
}

.relative {
    position: relative;
}
.bCover{
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.container {
    margin: 0 auto;
    max-width: 750px;
}

.container a {
    display: block;
}

.container img {
    width: 100%;
    display: block;
    border: none;
}

.goodsBlock a:nth-child(1){
    height:calc(100% - 1.9rem);
}

.goodsBlock a:nth-child(2){
    height:1.9rem;
}

#tc_mask{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:999;
    background-color: rgba(0,0,0,0.8);
    display: none;
}
#tc{
    width:7.16rem;
    height:8.49rem;
    background-image: url(../images/tc.png);
    position: absolute;
    top:10%;
    left:50%;
    margin-left:-3.58rem;
}
#close_tc{
    width:0.8rem;
    height:0.75rem;
    position: absolute;
    top:0;
    right:0;
}
/*公共样式END*/
@keyframes zoomIn{
    0%{opacity:0;transform:scale3d(.3,.3,.3)}
    50%{opacity:1}
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes zoomIn{
    0%{opacity:0;transform:scale3d(.3,.3,.3)}
    50%{opacity:1}
    100%{
        opacity: 1;
    }
}
#ani-cont{
    position: absolute;
    width:5.79rem;
    height:3.3rem;
    top:7rem;
    left:0.82rem;
    opacity: 0;
    animation:zoomIn 1s 0.5s linear forwards;
}
#ani-cont .ani{
    position: absolute;
}
#ani-cont .ani img{
    width: 100%;
    height: 100%;
}
@keyframes shine1{
    0%{opacity:0.5;}
    50%{opacity:1}
    100%{
        opacity: 0.5;
    }
}
@-webkit-keyframes shine1{
    0%{opacity:0.5;}
    50%{opacity:1}
    100%{
        opacity: 0.5;
    }
}

@keyframes shine2{
    0%{opacity:1;}
    50%{opacity:0.5}
    100%{
        opacity:1;
    }
}
@-webkit-keyframes shine2{
    0%{opacity:1;}
    50%{opacity:0.5}
    100%{
        opacity: 1;
    }
}
#ani-cont .ani1{
    width:3.46rem;
    height:0.66rem;
    top:1.14rem;
    left:1.19rem;
}

#ani-cont .brand1{
    width:1.63rem;
    height:0.6rem;
    top:0;
    left:1.75rem;
    opacity: 1;
    animation:shine2 2s 2s infinite alternate;
    -webkit-animation:shine2 2s 2s infinite alternate;
}

#ani-cont .brand2{
    width:1.7rem;
    height:0.7rem;
    top:0.41rem;
    left:0.26rem;
    opacity: 1;
    animation:shine2 4s 2.4s infinite alternate;
    -webkit-animation:shine2 4s 2.4s infinite alternate;
}


#ani-cont .brand3{
    width:2.05rem;
    height:0.76rem;
    top:0.43rem;
    left:1.9rem;
    opacity: 0.5;
    animation:shine1 2s 2s infinite alternate;
    -webkit-animation:shine1 2s 2s infinite alternate;
}

#ani-cont .brand4{
    width:0.63rem;
    height:0.97rem;
    top:0.22rem;
    left:3.85rem;
    opacity: 1;
    animation:shine2 2s 1s infinite alternate;
    -webkit-animation:shine2 2s 1s infinite alternate;
}

#ani-cont .brand5{
    width:1.47rem;
    height:0.77rem;
    top:0.41rem;
    left:4.32rem;
    opacity: 1;
    animation:shine2 4s 2.4s infinite alternate;
    -webkit-animation:shine2 4s 2.4s infinite alternate;
}

#ani-cont .brand6{
    width:0.96rem;
    height:0.79rem;
    top:1.07rem;
    left:0;
    opacity: 0.5;
    animation:shine1 2s 1.2s infinite alternate;
    -webkit-animation:shine1 2s 1.2s infinite alternate;
}

#ani-cont .brand7{
    width:0.74rem;
    height:0.9rem;
    top:0.98rem;
    left:4.88rem;
    opacity: 1;
    animation:shine2 4s 2.4s infinite alternate;
    -webkit-animation:shine2 4s 2.4s infinite alternate;
}

#ani-cont .brand8{
    width:1.38rem;
    height:0.48rem;
    top:1.81rem;
    left:0.15rem;
    opacity: 0.5;
    animation:shine1 3s 2s infinite alternate;
    -webkit-animation:shine1 3s 2s infinite alternate;
}

#ani-cont .brand9{
    width:1.38rem;
    height:0.5rem;
    top:1.81rem;
    left:1.44rem;
    opacity: 1;
    animation:shine2 1.7s 2.1s infinite alternate;
    -webkit-animation:shine2 1.7s 2.1s infinite alternate;
}


#ani-cont .brand10{
    width:1.27rem;
    height:0.61rem;
    top:2.15rem;
    left:0.59rem;
    opacity: 0.5;
    animation:shine1 4s 2s infinite alternate;
    -webkit-animation:shine1 4s 2s infinite alternate;
}

#ani-cont .brand11{
    width:1.08rem;
    height:0.44rem;
    top:2.23rem;
    left:1.78rem;
    opacity: 1;
    animation:shine2 3.2s 2.4s infinite alternate;
    -webkit-animation:shine2 3.2s 2.4s infinite alternate;
}

#ani-cont .brand12{
    width:1.54rem;
    height:0.75rem;
    top:1.92rem;
    left:2.77rem;
    opacity: 0.5;
    animation:shine1 4s 2.4s infinite alternate;
    -webkit-animation:shine1 4s 2.4s infinite alternate;
}


#ani-cont .brand13{
    width:1.31rem;
    height:0.75rem;
    top:1.62rem;
    left:4.26rem;
    opacity: 0.5;
    animation:shine1 3s 2s infinite alternate;
    -webkit-animation:shine1 3s 2s infinite alternate;
}

#ani-cont .brand14{
    width:1.36rem;
    height:0.46rem;
    top:2.22rem;
    left:4.35rem;
}

#ani-cont .brand15{
    width:1.77rem;
    height:0.65rem;
    top:2.65rem;
    left:2.16rem;
    opacity: 0.5;
    animation:shine1 2.3s 2.3s infinite alternate;
    -webkit-animation:shine1 2.3s 2.3s infinite alternate;
}


/*B类导航样式START*/
#navB{
    position: static;
    z-index:98;
    top:0;
    left:0;
    width:100%;
}
#navB div{
    float:left;
    width:calc(100%/4);
    height:100%;
    color:#fff;
    font-size:0.24rem;
    text-align:center;
    line-height: 0.7rem;
}
#navB div.act{
    background-color:#fd043a;
}
/*B类导航样式END*/
/*A类导航样式START*/
#navA{
    position: static;
    z-index:99;
    top:0;
    left:0;
    width:100%;
}
#navA div{
    float:left;
    width:calc(100%/4);
    height:100%;
    color:#fff;
    font-size:0.24rem;
    text-align: center;
    line-height: 0.7rem;
}
#navA div.act{
    background-color:#6d050e;
}
/*A类导航样式END*/

.nav-swiper-slide iv{
    display: none;
    background:url(../images/ditu.png) top center no-repeat;
    background-size:cover;
    width:0.26rem;
    height:0.41rem;
}
.nav-swiper-slide.act iv{
    display: inline-block;
}

.prevent-load-wrap{
    display: none;
}
.prevent-load-wrap.active{
    display: block;
}
.baokuan-goods{
    height:24.97rem;
    overflow: hidden;
}
.baokuan-cell a{
    display: block;
}
.baokuan-cell a:nth-child(1){
    height:calc(100% - 1.9rem);
}
.baokuan-cell a:nth-child(2){
    height:1.9rem;
}

.slide-goods-wrap{
    height:4.46rem;
    background-image:url(../images/bg_11.jpg);
}
#shine{
    margin:0 0.5rem;
    height: 100%;
    overflow: hidden;
}
#shine li{
    width:calc(100%/24);
    text-align: center;
    float: left;
    font-size: 0;
    height:100%;
    line-height: 0.9rem;
}
#shine li i{
    display: inline-block;
    background-color: #fff;
    border-radius: 100%;
    width:5px;
    height: 5px;   
}
@keyframes shine{
    0%{
        box-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FFF,
               0 0 70px  #FFF,
               0 0 80px  #FFF,
               0 0 100px #FFF,
               0 0 150px #FFF;
        opacity: 0.5;
    },
    50%{

        box-shadow:0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #fff,
               0 0 35px #fff,
               0 0 40px #fff,
               0 0 50px #fff,
               0 0 75px #fff;
        opacity: 0.9;
    },
    100%{
        box-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #fff,
               0 0 70px  #fff,
               0 0 80px  #fff,
               0 0 100px #fff,
               0 0 150px #fff;
        opacity: 0.5;
    }
}
@-webkit-keyframes shine{
    0%{
        box-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #fff,
               0 0 70px  #fff,
               0 0 80px  #fff,
               0 0 100px #fff,
               0 0 150px #fff;
        opacity: 0.5;
    },
    50%{
        box-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #fff,
               0 0 35px #fff,
               0 0 40px #fff,
               0 0 50px #fff,
               0 0 75px #fff;
        opacity: 0.9;
    },
    100%{
        box-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #fff,
               0 0 70px  #fff,
               0 0 80px  #fff,
               0 0 100px #fff,
               0 0 150px #fff;
        opacity: 0.5;
    }
}
#shine li:nth-child(odd) i{
    animation:shine 1s infinite alternate linear;
    -webkit-animation:shine 1s infinite alternate linear;
}
#shine li:nth-child(even) i{
    animation:shine 1s 1s infinite alternate linear;
    -webkit-animation:shine 1s 1s infinite alternate linear;
}
#swiperPart{
    padding-top:0rem;
}


#fuyou-date{
    margin:0 0.20rem;
    height:0.64rem;
    background-color:#a00f1e;
}
#fuyou-date li{
    float: left;
    width:calc(100%/7);
    height: 100%;
    text-align: center;
    color: #fff;
    font-size:0.24rem;
    line-height: 0.64rem;
}
#fuyou-date li.act{
    background-color: #5b0009;
}
#fuyou-date li.act span{
    border-bottom:2px solid #fff;
    padding:0 2px 3px;
}
.fy-prevent-load{
    display: none;
}
.fy-prevent-load.act{
    display: block;
}
.fy-block{
    overflow: hidden;
    height:3.36rem;
    position: relative;
}
.fy-block .next-day{
    position: absolute;
    width:1.4rem;
    height:0.35rem;
    top:0.27rem;
    left:5.65rem;
}
.fy-link-wrap{
    margin-top:0.86rem;
    height:calc(100%);
}
.fy-link-wrap a{
    width:100%;
    height:100%;
    float:left;
}
.slide-goods-wrap{
    padding:0.35rem 0 0 0.35rem;
    overflow: hidden;
    position: relative;
}
.slide-goods-wrap .swiper-slide a{
    margin:0 0.04rem;
}

.swiper-button-next{
    background-image:url("../images/left-arrow.png");
    width:0.29rem;
    height:1.65rem;
    background-size: cover;
    right: auto;
    left:2px;
    top:45%;
}
/*改变了颜色和加粗的样式*/
/*按日期显示模块样式START*/
    /*日期选择器*/
    #dateCont{
		text-align:center;
        box-sizing: border-box;
		
    }
    #dateCont li{
		width: calc(100%/5);
        color:#fff;
        font-size:0.24rem;
        float:left;
        line-height:0.6rem;
        position: relative;
    }
    #dateCont li.act{
        background:#fd043a;
        border-radius:5px;
        color:#fff;
    }

    /*需显示的商品模块*/
    #timeShow_block{
        height:4.1rem;
    }
    #timeShow_block .swiper-slide a{
        height:100%;
        width:50%;
    }

    /*#timeShow_block div{
        display: none;
        height:100%;
        width:100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }
    #timeShow_block div a{
    float:left;
    height:50%;
    width:50%;
    }
    #timeShow_block div.act{
        display:block;
    }*/
/*按日期显示模块样式END*/



/*按点击显示模块样式START*/
#classCont{
    margin:3rem 0 0;
    width:100%;
    box-sizing: border-box;
    padding:0 5%;
}
#classCont li{
    font-size:0.27rem;
    border-radius:5px;
    text-align: center;
    float:left;
    width:1.15rem;
    height:0.4rem;
    margin:0 0.1rem;
    line-height:0.4rem;
    color:#4f1d7c;
    background:#8599bb;
}
#classCont li.act{
    background:#ee4c5d;
    
}
#clickShow_block{
    height:8rem;
}
#clickShow_block div{
    display: none;
    height:100%;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
#clickShow_block div a{
    float:left;
    height:50%;
    width:50%;
}
#clickShow_block div.act{
    display:block;
}

/*按点击显示模块样式END*/

/*滑动模块样式START*/
.goods-swiper-slide{
    padding:0 0rem;
    width:8rem!important;
    /*box-sizing:border-box;*/
}

/*精品贺礼*/
.classBlock{
    height:3.92rem;
    width:3rem;
    display: none;
    margin:0 auto;
}
.classBlock.act{
    display: block;
}
.classBlock a:nth-child(1){
    width: 100%;
    height:3.96rem;
}
.classBlock a{
    width: 50%;
    float:left;
    height:3.92rem;
}

#giftsBtn{
    width:100%;
    height:0.54rem;
    background:#fff;
    margin:0.1rem 0;
    box-sizing: border-box;
    padding:0 0.3rem;
}
#giftsBtn li{
    font-size:0.24rem;
    text-align: center;
    line-height: 0.55rem;
    width:25%;
    height:100%;
    float:left;
    background:#d1372d;
    color:#fff;
}
#giftsBtn li.act{
    background:#feb2a4;
    color:#d13631;
}
.msSwiper{
    margin:0rem auto!important;
    width:100%;
	background-image: url(../images/huadong/bj.jpg);
	
}


#dateSel{
     
    color:#000;
    background:#fff;
    margin:0.2rem auto;
	display:table;
	text-align:center;
   
}
#dateSel li{
    width:0.76rem;
    height:0.36rem;
    font-size:0.24rem;
    float:left;
    text-align: center;
    line-height:0.36rem;
    margin:0 0.08rem;
}
#dateSel li.act{
    color:#fff;
    background-color:#d1372d;
}

.prevent-load.act{
    display: block;
}

.slide-goods-wrap{
    padding:0.35rem 0 0 0.35rem;
    overflow: hidden;
    position: relative;
}
.slide-goods-wrap .swiper-slide a{
    margin:0 0.04rem;
}
#timeShow-swiper .swiper-slide{
    position: relative;
}
#timeShow-swiper .swiper-slide a{
    position: absolute;
    width:50%;
    height:50%;
    top:0;
    right:0;
}
#timeShow-swiper .swiper-slide a:first-child{
    height: 100%;
    left:0;
    right:auto;
}
#timeShow-swiper .swiper-slide a:last-child{
    top:50%;
}


/*#svg1{
    width:100%;
    height: 100%;
    position: relative;
}
#svg2{
    width:4.36rem;
    height:5.86rem;
    box-shadow: 0px 0px 10px #fff; 
}
@keyframes dash {
  
  to {
    stroke-dashoffset: 3000;
  }
}
#path1{
    stroke-dasharray: 1000;
    box-shadow: 0px 0px 10px #fff;
    animation: dash 3s linear 1 alternate;
}*/
#ani_block{
    
    background-color:#6a0307;
    height:3.3rem;
    box-sizing: border-box;
    padding:0.24rem 0.13rem 0.64rem;
}
#ani_block .ani_cell{
    height:100%;
    width:calc((100% - 0.16rem)/4);
    margin:0 0.02rem;
    float: left;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}
#ani_block .ani_cell img.brand-goods{
    width:100%;
    height:100%;
}
@keyframes specialScale{
    30%{
        background-color:rgba(255,255,255,0);
        transform: scale(0.6) translateY(75%);
    }
    60%{
        background-color:rgba(255,255,255,1);
        transform: scale(1) translateY(0);
    }
    100%{
        background-color:rgba(255,255,255,1);
        transform: scale(1) translateY(0);
    }
}
.scale_block{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0);
    transform: scale(0.6) translateY(75%);
    text-align: center;
    font-size:0;
}
.scale-ani-class{
    animation-name:specialScale;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: .5s;
    animation-iteration-count:2;
}
.scale_block .logo-wrap{
    width:1.07rem;
    height:0.91rem;
    margin:0.3rem auto 0;
    text-align: center;
}
.scale_block img{
    height:100%;
    width:auto;
    display: inline-block;
}
.scale_block p{
    font-size:0.24rem;
    text-align: center;
    margin-top:0.45rem;
    color:#626262;
}

/* 侧滑栏样式 */
.slide-bar-con {
    position: fixed;
    top: 42px;
    right: -100%;
    z-index: 99;
    width: 100%;
    height: calc(100% - 42px);
}
.slide-bar-con .close-mask {
    width: 12%;
    height: 100%;
    float: left;
    background: rgba(0, 0, 0, .4);
    display: none;
}
.slide-bar-con .close-btn {
    width: .2rem;
    position: absolute;
    top: calc((100% - 42px) / 2);
    right: calc(88% + .2rem);
}
.slide-btn {
    position: fixed;
    bottom: 1.5rem;
    right: 0;
    z-index: 8;
    width: 1rem;
}
.slide-bar {
    float: right;
    width: 88%;
    height: 100%;
    padding: 0 0 .2rem 0;
    font-size: 0;
    background: #fff;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.slide-bar a {
    display: block;
    margin-top: .2rem;
}
.slide-bar a:last-child {
    margin-bottom: .2rem;
}
.slide-bar img {
    width: 100%;
}
.title-con {
    position: relative;
}
.slide-bar img.back-slide {
    position: absolute;
    top: .4rem;
    left: .3rem;
    width: 1rem;
}
@keyframes scale
{
	0% { transform: scale(.8) }
    50% { transform: scale(1) }
    100% { transform: scale(.8) }
}
section{
        position:relative;
}
.l{
        position: absolute;
       width:50%;
       height: 100%;
        top: 0;
        left: 0;
}
.r{
       position: absolute;
       width:50%;
       height: 100%;
        top: 0;
        right: 0; 
}

