/********公共样式************/
body{
  color: #fff;
  word-wrap: break-word;
  /* background: red; */
}
.auto_img{
  width: 100%;
}
a{
  color: #fff;
}
a:focus{
  color: #fff;
  text-decoration: none;
}
a:hover{
  color: #ffffff;
}

.swiper-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
}


.tab-pagination-bullets {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.tab-bullet {
  font-size: .25rem;
  font-weight: bold;
  width: 33.33%;
  float: left;
  padding: 0 0 .45rem;
  border-bottom: .02rem solid rgba(107, 120, 224, 1);
  color: rgba(255, 255, 255, 1);
}

.tab-bullet-active {
  border-bottom: .02rem solid #fff;
}


.investor-pagination-progressbar,
.member-pagination-progressbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .02rem;
  background: rgba(107, 120, 224, 1);
}

.member-pagination-progressbar .swiper-pagination-progressbar-fill,
.investor-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: rgba(255, 255, 255, 1);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}

.investor-swiper .swiper-slide {
  transition: 300ms;
  transform: scale(0.7);
}

.investor-swiper .swiper-slide-active,
.investor-swiper .swiper-slide-duplicate-active {
  transform: scale(1);
}

/* .page1{
  width: 19.2rem;
  height: 11.21rem;
  background: url(../images/bg_1.jpg) no-repeat;
}
.page2{
  width: 100%;
  height: 8.99rem;
  background: url(../images/bg_2.jpg) no-repeat;
}
.page3{
  width: 100%;
  height: 10.40rem;
  background: url(../images/bg_3.jpg) no-repeat;
}
.page4{
  width: 100%;
  height: 16rem;
  background: url(../images/bg_4.jpg) no-repeat;
}
.page5{
  width: 100%;
  height: 17.63rem;
  background: url(../images/bg_5.jpg) no-repeat;
} */
.mian_title{
}
.mian_title .lt{
  padding: .7rem .5rem 0 0;
}
.mian_title .lt .line{
  background: #6671cd;
  width: 1.88rem;
  height: 1px;
}
.mian_title .rt{
  font-size: .84rem;
  font-weight: 700;
}
.mian_title .sub_tit{
  font-size: .18rem;
  color: #6671cd;
  font-weight: 500;
  padding-top: .05rem;
}
.page{
  position: relative;
  overflow: hidden;
  display: none;
}
.main{
  position: absolute;
  width: 100%;
  left: 0;
  top:0;
}
.tabs{
  width: 9.55rem;
  margin: 0 auto;
  height: 7.7rem;
  padding-top: 1rem;
}
.tab-swiper{
  padding: 1.9rem 0 1.4rem;
}
.tab-swiper .lt{
  width: 4.7rem;
}
.tab-swiper .lt img{
  width: 3.76rem;
}
.tab-swiper .rt .tit{
    font-size: .5rem;
}
.tab-swiper .rt{
  width: 4.7rem;
  padding:.7rem 0 0 0;
}
.tab-swiper .rt .sub_tit{
  font-size:.125rem;
}
.tab-swiper .rt .intro{
  font-size:.166rem;
  padding-top: .6rem;
}
.members{
  width: 14.44rem;
  margin: 0 auto;
  padding: .3rem 0 0;
  height: 6.3rem;
  position: relative;
}
.members .box{
  overflow:hidden;
  position: relative;
}
.members .box .scroll{
  width: 3200px;
}
.members .box img{
  width:36.87rem;
  padding-bottom: 1.3rem;
}
.members .box img.en{
  width:36.82rem;
}
.members .box .lists{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.members .box .lists > a{
  /* background: pink; */
  opacity: .4;
  width: 3rem;
  height: 1rem;
  position: absolute;
  left: 0;
  top: 2.9rem;
}
.members .box .lists > a:nth-child(2){
  left: 1.8rem;
  top: 1.1rem;
}
.members .box .lists > a:nth-child(3){
  left: 4.7rem;
  top: 2.3rem;
}
.members .box .lists > a:nth-child(4){
  left: 7.7rem;
  top: 0.2rem;
}
.members .box .lists > a:nth-child(5){
  left: 10.6rem;
  top: 1.4rem;
}
.members .box .lists > a:nth-child(6){
  left: 13.5rem;
  top: 3.2rem;
}
.members .box .lists > a:nth-child(7){
  left: 16.5rem;
  top: .5rem;
}
.members .box .lists > a:nth-child(8){
  left: 19.5rem;
  top: 2rem;
}
.members .box .lists > a:nth-child(9){
  left: 22.3rem;
  top: .8rem;
}
.members .box .lists > a:nth-child(10){
  left: 25.6rem;
  top: 3.4rem;
}
.members .box .lists > a:nth-child(11){
  left: 28.3rem;
  top: 1.7rem;
}
.members .box .lists > a:nth-child(12){
  left: 31rem;
  top: 0rem;
}
.members .box .lists > a:nth-child(13){
  left: 34.2rem;
  top: 2.6rem;
}
.members .con{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  margin: auto;
  width: 5.4rem;
  height: 5.43rem;
  background-image: url(../images/member_02.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* display: none; */
  opacity: 0;
  transform: scale(.1);
  transition: all .2s ease-in;
}
.members .con.cur{
  opacity: 1;
  transform: scale(1);
  /* display: block; */
}
.gund{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
}
.gund .gund_sub{
  position: absolute;
  top: 50%;
  left: 0;
  width: 20%;
  height: 4px;
  transform: translate(0,-50%);
  background: #fff;
}



/* .members img{
  margin: 0 auto;
  width: 5.4rem;
} */

.members .member-swiper{
  margin: 0 auto;
  width: 5.4rem;
  height: 5.43rem;
  background-image: url(../images/member_02.png);
  background-repeat: no-repeat;
  background-size: cover;

}
.members .member-swiper .swiper-slide{
    padding:.8rem .5rem 0 .6rem;
}
.members .members_info{
  /* padding:.8rem .5rem 0 .6rem; */
  width: 4rem;
  height: 4.6rem;
  margin: .7rem auto;
  font-size: .166rem;
  overflow-y: auto;
  max-height: 4rem;
}

.members_info .info_hd .title{
  font-weight: 700;
}
.members_info .info_hd .name{
  font-size: .29rem;
  margin-right: .35rem;
}
.members_info .info_hd .post{
  padding-top: .13rem;
}
.members_info .info_hd .line{
  height: .02rem;
  width: .17rem;
  background: #cbcbcb;
  margin: .14rem 0 .16rem;
}
.members_info .info_bd li{
  padding-bottom: .3rem;
}
.investors{
  width: 16.4rem;
  margin: 0 auto;
  padding-top: 2rem;
}
.investors .book{
  margin: 1.8rem auto 0;
  width: 10.5rem;
  height:3.1rem;
  background-image: url(../images/investors_book.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
}
.investors .book a{
  display: inline-block;
  border:.02rem solid #fff;
  padding: .1rem .45rem;
  font-size: .18rem;
  margin: 1.35rem 1.20rem 0 0;
  text-align: center;
}
.investors .lt{
  width: 7.5rem;
}
.investors .lt img{
  width: 5.8rem;
  box-shadow: -.6rem .6rem .3rem rgb(0, 0, 0,.2);
}
.investors .rt .tit{
  font-size: .58rem;
  color: #ff0009;
}
.investors .rt{
  width: 8.7rem;
  min-height: 6.1rem;
  padding:.7rem 0 0 0;
}
.investors .rt .intro{
font-size:.25rem;
padding-top: .6rem;
}
.investors .rt .intro p{
  padding-bottom:.6rem;
}
.abouts{
  width: 14.44rem;
  margin: 0 auto 0;
  padding-top: .7rem;
  overflow-y: auto;
  height: 10rem;
}
.abouts p{
  float: right;
  width: 9rem;
  font-size: .21rem;
  line-height: .33rem;
  padding-bottom: .3rem;
}

.headers{
  position: absolute;
  top: .6rem;
  left: 50%;
  margin-left: -7.22rem;
  width: 14.44rem;
  font-size: .25rem;
  color: #a7b0ff;
}
.headers .lt{
  float: left;
}
.headers .lt img{
  width: 2.6rem
}
.headers .rt{
  float: right;
}
.headers .rt a{
  color: #a7b0ff;
  font-size: .25rem;
}
.headers .rt a.active{
  color: #fff;
}
.footers{
  position: absolute;
  bottom: .8rem;
  left: 50%;
  margin-left: -7.22rem;
  width: 14.44rem;
  padding-top: .6rem;
  border-top: 2px solid #6671cd;
}
.footers .lt,.footers .ct,.footers .rt{
  width: 33.333%;
  float: left;
}
.footers .lt .tit{
  font-size: .3rem;
  font-weight: 500;
  padding-bottom: .35rem;
}
.footers .lt .link{
  padding-bottom: .08rem;
  font-size: .17rem;
  display: block;
}
.footers .lt .line{
  width: .45rem;
  height: 1px;
  background: #fff;
  padding: 0;
  margin-top: .5rem;
}
.footers .ct{
  padding-top: .3rem;
  text-align: center;
}
.footers .ct img{
  width: 1.58rem;
  display: inline-block;
}
.footers .rt{
  padding-top: .3rem;
  text-align: right;
  position: relative;
}
.footers .rt img{
  display: inline-block;
  width: 1.38rem;
}
.footers .rt p{
  width: 1.38rem;
  position: absolute;
  bottom: -.35rem;
  right: .24rem;
  font-size: .2rem;
}
@media (max-width: 768px) {

}
@media (min-width: 768px) {
 
}
@media (min-width: 992px) {
 
}
@media (min-width: 1200px) {
 
}

.container {
padding-right: 0;
padding-left: 0;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}























@media (min-width: 768px) {
  .index .intro .intro-bot .container {
    width: 1436px;
  }
}
@media (min-width: 992px) {
 
}
@media (min-width: 1200px) {
  /* .index .intro .intro-bot .container {
    width: 1436px;
  } */
}