<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ORA</title>
    <!-- 包含头部信息用于适应不同设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 包含 bootstrap 样式表 -->
    <!-- <link rel="stylesheet" href="dist/bootstrap/css/bootstrap.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">

        <div class="page page1">
            <img src="images/bg_1.jpg" alt="" class="auto_img">
            <div class="headers clearfix">
                <div class="lt">
                    <img src="images/logo_act.png" alt="">
                </div>
                <div class="rt">
                    <a href="javascript:;" :class="{'active':langActive==0}" @click="changeLang('en')">EN</a> /
                    <a href="javascript:;" :class="{'active':langActive==1}" @click="changeLang('cn')">CN</a>
                </div>
            </div>
        </div>
        <div class="page page2">
            <img src="images/bg_2.jpg" alt="" class="auto_img">
            <div class="main">
                <div class="mian_title clearfix">
                    <div class="fl lt">
                        <div class="line"></div>
                    </div>
                    <div class="fl rt">
                        <div>{{pageInfo.tabs.title}}</div>
                        <div class="sub_tit">{{pageInfo.tabs.subTitle}}</div>
                    </div>
                </div>
                <div class="tabs">
                    <!-- Swiper -->
                    <div class="swiper-container tab-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide clearfix" v-for="(item, key) in pageInfo.tabs.lists">
                                <div class="fl lt">
                                    <img v-bind:src="item.imgurl" />
                                    <!-- <img :src="{images/product_0{{key+1}}.png}" alt=""> -->
                                </div>
                                <div class="fl rt">
                                    <div class="tit">
                                        <div>{{item.name}}</div>
                                        <div class="sub_tit">{{item.enName}}</div>
                                    </div>
                                    <div class="intro">{{item.intro}}</div>
                                </div>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination tab-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page3">
            <img src="images/bg_3.jpg" alt="" class="auto_img">
            <div class="main">
                <div class="mian_title clearfix">
                    <div class="fl lt">
                        <div class="line"></div>
                    </div>
                    <div class="fl rt">
                        <div>{{pageInfo.members.title}}</div>
                        <div class="sub_tit">{{pageInfo.members.subTitle}}</div>
                    </div>
                </div>
                <div class="members">
                    <div class="box" id="wrapper3">
                        <div class="scroll">
                            <img src="images/member_line_en.png" alt="" class="members_img en" v-if="langActive == 0">
                            <img src="images/member_line.png" alt="" class="members_img cn" v-if="langActive == 1">
                            <div class="lists members_list">
                                <a href="javascript:;"></a>
                                <a href="javascript:;"></a>
                                <a href="javascript:;"></a>
                                <a href="javascript:;"></a>
                                <a href="javascript:;"></a>
                                <a href="javascript:;"></a>
                                <a href="javascript:;"></a>
                                <a href="javascript:;"></a>
                                <a href="javascript:;"></a>
                                <a href="javascript:;"></a>
                                <a href="javascript:;"></a>
                                <a href="javascript:;"></a>
                                <a href="javascript:;"></a>
                            </div>
                        </div>
                    </div>
                    <div class="con">
                        <div class="members_info hide_scroll">
                        </div>
                    </div>
                    <!-- <div class="gund">
                        <div class="gund_sub"></div>
                    </div> -->

                    <!-- Add Pagination -->
                    <!-- <div class="swiper-pagination member-pagination"></div> -->
                    <!-- Swiper -->
                    <!-- <div class="swiper-container member-swiper">
                        <div class="swiper-wrapper" id="membersWrap">

                            <div class="swiper-slide" v-for="(item, key) in pageInfo.members.lists">
                                <div class="members_info hide_scroll">
                                    <div class="info_hd">
                                        <div class="title clearfix">
                                            <div class="name fl">{{item.name}}</div>
                                            <div class="post">{{item.post}}</div>
                                        </div>
                                        <div class="line"></div>
                                    </div>
                                    <ul class="info_bd">
                                        <li v-for="(subitem) in item.intro">{{subitem}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="page page4">
            <img src="images/bg_4.jpg" alt="" class="auto_img">
            <div class="main">
                <div class="mian_title clearfix">
                    <div class="fl lt">
                        <div class="line"></div>
                    </div>
                    <div class="fl rt">
                        <div>{{pageInfo.investors.title}}</div>
                        <div class="sub_tit">{{pageInfo.investors.subTitle}}</div>
                    </div>
                </div>
                <div class="investors">
                    <div class="clearfix">
                        <div class="fl lt">
                            <img src="images/investors_0.png" alt="" id="investor-left">
                        </div>
                        <div class="fl rt">
                            <!-- Swiper -->
                            <div class="swiper-container investor-swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" v-for="(item, key) in pageInfo.investors.lists">
                                        <div class="tit">
                                            <div>{{item.name}}</div>
                                        </div>
                                        <div class="intro">
                                            <p v-for="(subitem) in item.intro">{{subitem}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination investor-pagination"></div>
                            </div>
                        </div>
                    </div>
                    <div class="book">
                        <a href="javascript:;">{{pageInfo.books.check}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page5">
            <img src="images/bg_5.jpg" alt="" class="auto_img">
            <div class="main">
                <div class="mian_title clearfix">
                    <div class="fl lt">
                        <div class="line"></div>
                    </div>
                    <div class="fl rt">
                        <div>{{pageInfo.abouts.title}}</div>
                        <div class="sub_tit">{{pageInfo.abouts.subTitle}}</div>
                    </div>
                </div>
                <div class="hide_scroll abouts clearfix">
                    <p v-for="item in pageInfo.abouts.lists">{{item}}</p>
                </div>
            </div>
            <div class="footers clearfix">
                <div class="lt">
                    <div class="tit">{{pageInfo.footers.title}}</div>
                    <a class="link" href="http://www.facebook.com/ora.chain.96"
                        target="_blank">{{pageInfo.footers.link1}}：http://www.facebook.com/ora.chain.96</a>
                    <a class="link" href="https://twitter.com/ChainOracle"
                        target="_blank">{{pageInfo.footers.link2}}：https://twitter.com/ChainOracle</a>
                    <a class="link" href="http://t.me/orachain"
                        target="_blank">{{pageInfo.footers.link3}}：http://t.me/orachain</a>
                    <div class="line"></div>
                </div>
                <div class="ct">
                    <img src="images/fd_logo.png" alt="" class="center-block">
                </div>
                <div class="rt">
                    <img src="images/fd_ewm.png" alt="" class="center-block">
                    <p>{{pageInfo.footers.qrcode}}</p>
                </div>
            </div>

        </div>
        <div class="lee_loading">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            <div class="lee_loading_txt">正在努力加载中<span>1%</span>...</div>
        </div>
    </div>

    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/rem.js"></script>
    <script src="js/preload.js"></script>
    <script src="js/my_scrollbar.js"></script>
    <script src="js/main.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                langActive: 1,
                pageInfo: cnData
            },
            mounted() {
                var that = this
                //图片预加载
                that.initImgs(function () {
                    $(".page").show()
                    $(".lee_loading").hide()
                    // console.log(GetQueryString("flag"))
                    var is_en = getQueryString("flag") || 'cn'

                    if (is_en == 'en') {
                        that.langActive = 0
                        that.pageInfo = enData
                        that.initSwiper({
                            txt1: 'Blockchain Database',
                            txt2: 'Unified Identity System',
                            txt3: 'Data Value-added Circulation',
                            tabssize: '.2rem'
                        })
                    }

                    if (is_en == 'cn') {
                        that.langActive = 1
                        that.pageInfo = cnData
                        that.initSwiper({
                            txt1: '区块链数据库',
                            txt2: '统一身份系统',
                            txt3: '数据增值流通'
                        })
                    }
                    // $(".hide_scroll").niceScroll({ cursorborder: "", cursorcolor: "rgba(0,0,0,0)", boxzoom: true });
                    $(".members .scroll").width($(".members_img").width())
                    new MyScrollBar({
                        selId: 'wrapper3',
                        enterColor: '#fff',
                        bgColor: '#6b78e0',
                        barColor: '#fff',
                        enterShow: false,
                        hasX: true,
                        hasY: false,
                        hasX: true,
                        width: 6,
                    })
                    $(".members_list > a").on('click', function () {
                        $(".members .con").toggleClass('cur')
                        var _index = Number($(this).index())
                        $(".members_info").empty()
                        var data = that.pageInfo.members.lists[_index]
                        var ali = ''
                    for (var i in data.intro) {
                        ali += `<li>${data.intro[i]}</li>`
                    }
                    $(".members_info").append(`<div class="info_hd">
                                <div class="title clearfix">
                                    <div class="name fl">${data.name}</div>
                                    <div class="post">${data.post}</div>
                                </div>
                                <div class="line"></div>
                            </div>
                            <ul class="info_bd">
                                ${ali}
                            </ul>`)

                    })
                })

            },
            methods: {
                initImgs: function (callback) {
                    var imgs = ['images/member_02.png'];
                    progress = $('.lee_loading_txt > span');
                    $("img").each(function (i, t) {
                        imgs.push($("img").eq(i).attr("src"))
                    })
                    $.preload(imgs, {
                        each: function (count) {
                            progress.html(Math.round((count + 1) / imgs.length * 100) + '%');
                        },
                        end: function () {
                            typeof callback == 'function' && callback()
                        }
                    });
                },
                initSwiper: function (options = {}) {
                    var tabSwiper = new Swiper('.tab-swiper', {
                        pagination: {
                            el: '.tab-pagination',
                            clickable: true,
                            modifierClass: 'tab-pagination-',
                            bulletClass: 'tab-bullet',
                            bulletActiveClass: 'tab-bullet-active',
                            renderBullet: function (index, className) {
                                switch (index) {
                                    case 0: text = options.txt1; break;
                                    case 1: text = options.txt2; break;
                                    case 2: text = options.txt3; break;
                                }
                                return '<div class="' + className + '" style="font-size:' + options.tabssize + ';">' + text + '</div>';
                            },
                            observer: true,
                            observeParents: true,
                            observeSlideChildren: true,
                        }
                    });
                    // var memberSwiper = new Swiper('.member-swiper', {
                    //     autoplay: true,
                    //     effect: 'fade',
                    //     fadeEffect: {
                    //         crossFade: true,
                    //     },
                    //     pagination: {
                    //         el: '.member-pagination',
                    //         type: 'progressbar',
                    //         modifierClass: 'member-pagination-',
                    //     },
                    //     observer: true,
                    //     observeParents: true,
                    //     observeSlideChildren: true,
                    // });
                    var investorSwiper = new Swiper('.investor-swiper', {
                        slidesPerView: 1,
                        spaceBetween: 0,
                        loop: false,
                        autoplay: true,
                        pagination: {
                            el: '.investor-pagination',
                            type: 'progressbar',
                            modifierClass: 'investor-pagination-',
                        },
                        on: {
                            slideChangeTransitionEnd: function (e) {
                                // console.log(e)
                                // console.log(this.activeIndex)
                                // if (this.activeIndex == 0) this.activeIndex = 3
                                $("#investor-left").attr('src', 'images/investors_' + Number(this.activeIndex) + '.png')

                            },
                            slideChangeTransitionStart: function () {
                                // console.log(this.activeIndex)
                            },
                        },
                        observer: true,
                        observeParents: true,
                        observeSlideChildren: true,
                    });

                    tabSwiper.update()
                    // memberSwiper.update()
                    investorSwiper.update()
                },
                changeLang: function (who) {
                    $(".members .con").removeClass('cur')
                    $(".members .scroll").width($(".members_img").width())
                    var that = this
                    if (who == 'en') {
                        that.langActive = 0
                        that.pageInfo = enData
                        that.initSwiper({
                            txt1: 'Blockchain Database',
                            txt2: 'Unified Identity System',
                            txt3: 'Data Value-added Circulation',
                            tabssize: '.2rem'
                        })
                    }
                    if (who == 'cn') {
                        that.langActive = 1
                        that.pageInfo = cnData
                        that.initSwiper({
                            txt1: '区块链数据库',
                            txt2: '统一身份系统',
                            txt3: '数据增值流通',
                        })
                    }
                }
            }

        })







    </script>
</body>

</html>